
<div id="dvSelectSyscodeForm">  
  <div class="field">
    <label for="syscode_fksyscodeparent">Parent</label>
    <%= select('Parent','id', Syscode.where("fksyscodeparent = '0'").map {|s| ["#{s.syscode}", s.id ]}) %>
  </div>
  <div class="field">
    <label for="childSyscodes">Child</label>                                                                     
    <select id="displayChildren" name="displayChildren"></select> 
  </div>
</div>
      
<script type="text/javascript">
  var parent_id;                        
  function parentSelected() {        
    parent_id = $('#Parent_id').val();    
    $.getJSON("http://localhost:3000/syscodes/selectnew?parent_id="+parent_id,{id: $(this).val(), ajax: 'true'}, function(data){
      var options = '';
      for (var i = 0; i < data.length; i++) {
        options += '<option value="' + data[i].id + '">' + data[i].syscode_desc + '</option>';
      }
      $("select#displayChildren").html(options);
    });
  }  
  
  $(document).ready(function() {
    parentSelected();
    $('#Parent_id').change(parentSelected);
  });         
</script> 


<%= link_to 'Back', syscodes_path %>



 
