
<h1>New account</h1>

<div id="dvLogin">
  <div style="float:left;padding-top:10px;">
       Login to your VM REDMINE account.
       <br/>
       <br/>
       If you don't have an account yet, 
       <br/>
       click here to <span class="link">register</span>.
       <br/>
       <br/>
       <span class="link">Forgot your password?</span>
    
  </div>
  <div style="float:right;">  
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Back', accounts_path %>
